.image {
    &__fullwidth {
        width: 100%;
    }

    &__fullmobile {
        @media #{$media-not-desktop} { 
            width: 100%;
        }
    }

    &__icon {
        border-radius: 100px;
        padding: 16px 28px;
        font-size: 48px;
        background : #277158;
        margin-bottom: 32px;
        display: inline-block;
        color: white;

        &.light {
            background: #DEEDE0 !important;
            color: #2E5B43 !important;
        }
    }

    &__flyer {
        max-width: 500px;
        @media #{$media-not-desktop} {  
            width: 100%;
        }
    }
}