.container {
    max-width: 1140px !important;

    @media #{$media-not-desktop} {   
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
}

body {
    font-family: 'Source Sans Pro', sans-serif;   
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Source Sans Pro', sans-serif;   
    font-weight: 700 !important;
}

p, ul, li, a, small, button{
    font-family: 'Source Sans Pro', sans-serif;   
}
p, ul, li, a, button {
    font-size: 17px;
}

small {
    font-size: 16px !important;
}

.btn, .card, input,select,label,textarea {
    font-family: 'Source Sans Pro', sans-serif !important;  
    border-radius: 2px !important; 
}

.teaser.lazyload {
	opacity: 0;
	transform: scale(0.8);
}

.teaser.lazyloaded {
	opacity: 1;
	transform: scale(1);
	transition: all 700ms;
}


.baris {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .kolom {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .kolom img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  @media screen and (max-width: 800px) {
    .kolom {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .kolom {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

  .nav {
    .nav-item {
      font-size: 14px;
    }
  }


.form-signin {
  max-width: 530px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}