.section {
   &__productrange {
      border-top: none;
      padding-top: 72px;
      padding-bottom: 72px;

      @media #{$media-not-desktop} {  
         padding-top:32px;
         padding-bottom: 32px;
      }
   }

   &__samecolor{
      border-top: none;
      padding-top: 72px;
      padding-bottom: 72px;

      @media #{$media-not-desktop} {  
         padding-top:32px;
         padding-bottom: 32px;
      }
   }

   &__main {
      padding-top: 72px;
      border-top: none;
      padding-bottom: 72px;

      @media #{$media-not-desktop} {  
         padding-top:32px;
         padding-bottom: 32px;
      }
   }
}